/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme inline{
   --color-primary: #FACC15;   
  --hover-color: #EAB308;   
 --color-text-muted: #6B7280;
  --color-text-primary: #111827;
}
body {
  font-family: "Inter", sans-serif;
   background-color: #FFFBEA;
  color: #020617;
}

.input {
  @apply w-full rounded-md border border-slate-200 bg-slate-100 px-4 py-2 focus:border-indigo-500 focus:outline-none;
}
